#include "../common-xcconfig/common.xcconfig"
#include "../common-xcconfig/framework.xcconfig"

ARCHS = i386 x86_64
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
FRAMEWORK_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR) $(BUILD_DIR)/Release
FRAMEWORK_VERSION = A
GCC_PREFIX_HEADER = Sources/BaseTen_Prefix.pch
HEADER_SEARCH_PATHS  = $(BUILT_PRODUCTS_DIR)  .
INFOPLIST_FILE = Resources/Info.plist
LIBRARY_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR) .
OTHER_LDFLAGS = $(COVERAGE_LDFLAGS) -ObjC -headerpad_max_install_names
PRODUCT_NAME = BaseTen
WRAPPER_EXTENSION = framework
