DEBUG_INFORMATION_FORMAT = dwarf
DEPLOYMENT_LOCATION = NO
DSTROOT = /
GCC_C_LANGUAGE_STANDARD = c99
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_FIX_AND_CONTINUE = NO
GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_SYMBOL_SEPARATION = NO
GCC_FAST_OBJC_DISPATCH = NO
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_MODEL_TUNING = G5
GCC_ONE_BYTE_BOOL = NO
GCC_REUSE_STRINGS = YES
GCC_SHORT_ENUMS = NO
GCC_USE_GCC3_PFE_SUPPORT = YES
GCC_OBJC_CALL_CXX_CDTORS = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
LINK_WITH_STANDARD_LIBRARIES = YES
PREBINDING = NO
SKIP_INSTALL = YES
ZERO_LINK = NO
WARNING_CFLAGS = -Wall $(CLANG_WARNING_CFLAGS)
GCC_PREPROCESSOR_DEFINITIONS = USE_SSL XCODEBUILD_TARGET_NAME="$(TARGET_NAME)" XCODEBUILD_PROJECT_NAME="$(PROJECT_NAME)" XCODEBUILD_PROJECT_FILE_PATH="$(PROJECT_FILE_PATH)"
OTHER_LDFLAGS = $(COVERAGE_LDFLAGS)
IBC_PLUGINS = $(BUILT_PRODUCTS_DIR)/BaseTen.ibplugin
