#include "clang.xcconfig"

GCC_VERSION = com.apple.compilers.llvm.clang.1_0

MACOSX_DEPLOYMENT_TARGET_i386 = 10.8
MACOSX_DEPLOYMENT_TARGET_x86_64 = 10.8
MACOSX_DEPLOYMENT_TARGET = $(MACOSX_DEPLOYMENT_TARGET_$(CURRENT_ARCH))

SDKROOT_i386 = $(DEVELOPER_SDK_DIR)/MacOSX10.10.sdk
SDKROOT_x86_64 = $(DEVELOPER_SDK_DIR)/MacOSX10.10.sdk
SDKROOT = $(SDKROOT_$(CURRENT_ARCH))

