#include "../../common-xcconfig/common.xcconfig"

ARCHS = i386 x86_64
FRAMEWORK_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR) ../build/$(BUILD_STYLE) $(DEVELOPER_FRAMEWORKS_DIR_QUOTED)
GCC_PREFIX_HEADER = Sources/InterfaceBuilderPlugin_Prefix.pch
HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)
INFOPLIST_FILE = Info.plist
LIBRARY_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)
PRODUCT_NAME = BaseTen
USER_HEADER_SEARCH_PATHS = $(PROJECT_DIR)
WRAPPER_EXTENSION = ibplugin
